@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700;800&display=swap');

body {
    color: #000;
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
}

.container {
    width: 1280px;
    height: 100%;
    padding: 0 15px;
    margin: 0 auto;
}

header {
    padding-top: 30px;
}

a {
    display: inline-block;
    text-decoration: none;
}

p {
    font-weight: 400;
    hyphens: auto;
    line-height: 28px;
}

.header {
    background-color: #f6f2f2;
}

.btn {
    padding: 15px 63px;
    border: 2px solid #ff2d2d;
    border-radius: 5px;
    font-size: 18px;
    font-weight: 700;
    text-transform: capitalize;
}

/* _________________________________________________ BLOCK HEADER _________________________________________________ */
.header .menu a {
    padding: 30px 25px;
    color: #fff;
    font-weight: 700;
    text-transform: uppercase;
}

.header .menu__wrapper {
    background: #313030;
}

.header .menu {
    display: flex;
    justify-content: center;
}

.header .menu .active a {
    background-color: #ff3f40;
}

.header .menu a:hover {
    background-color: #ff3f40;
    transition: 0.4s;
}

/* _________________________________________________ BLOCK ABOUT _________________________________________________ */
.about {
    padding: 110px 0;
    background-color: #f6f2f2;
}

.about .row {
    display: flex;
    align-items: center;
    gap: 100px;
}

.about .col {
    width: 50%;
}

.about .about__title {
    margin-bottom: 35px;
    font-size: 60px;
    font-weight: 800;
    letter-spacing: 7px;
    line-height: 72px;
    word-spacing: 10px;
}

.about .about__description {
    max-width: 515px;
    margin-bottom: 50px;
}

.about .about__button {
    background-color: #ff2d2d;
    color: #fff;
}

.about .about__button:hover {
    background: transparent;
    color: #ff2d2d;
    transition: 0.4s;
}

.about .video__content {
    width: 100%;
}

.about .video__content {
    box-shadow: 0 0 40px rgb(0 0 0 / 50%);
}

/* _________________________________________________ BLOCK SERVICES _________________________________________________ */
.services {
    padding-top: 110px;
}

.services .row {
    display: flex;
    padding-bottom: 60px;
    border-bottom: 2px solid  #ececec;
}

.services .col {
    width: 50%;
}

.services .services__title {
    margin-bottom: 50px;
    color: #585858;
    font-size: 42px;
    font-weight: 700;
    line-height: 55px;
}

.services .services__description {
    max-width: 515px;
    margin-bottom: 60px;
}

.services .services__button {
    background-color: transparent;
    color: #ff2d2d;
}

.services .services__button:hover {
    background: #ff2d2d;
    color: #fff;
    transition: 0.4s;
}

.services .element__title {
    margin-bottom: 20px;
    color: #4c4c4c;
    font-size: 25px;
    font-weight: 700;
}

.services .services__elements-wrapper {
    display: flex;
    flex-wrap: wrap;
}

.services .services__element {
    width: 50%;
    box-sizing: border-box;
    padding-bottom: 50px;
}

.services .icon {
    width: auto;
    height: auto;
    margin-bottom: 15px;
}

.services .services-element__description {
    padding-right: 20px;
}

/* _________________________________________________ BLOCK GALLERY _________________________________________________ */
.gallery {
    padding-top: 110px;
    margin-bottom: 75px;
}

.gallery .gallery__title {
    margin-bottom: 35px;
    color: #585858;
    font-size: 42px;
    font-weight: 700;
    text-align: center;
    text-transform: uppercase;
}

.gallery .gallery-title__description {
    max-width: 510px;
    margin: 0 auto 30px;
    text-align: center;
}

.red-line__small {
    width: 130px;
    height: 2px;
    margin: 0 auto 90px;
    background-color: #ff2d2d;
}

.gallery .gallery__menu a {
    padding: 0 30px;
    color: #4c4c4c;
    font-size: 22px;
    font-weight: 700;
    text-transform: uppercase;
}

.gallery .gallery__menu .active a {
    color: #ff3f40;
}

.gallery .gallery__menu a:hover {
    color: #ff3f40;
    transition: 0.4s;
}

.gallery .gallery__menu {
    display: flex;
    justify-content: center;
}

.gallery .gallery__menu-wrapper {
    margin-bottom: 65px;
}

.gallery .gallery__wrapper {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    gap: 20px;
}

.gallery .gallery__item {
    width: calc(100% / 4 - 20px * 3 / 4);
    height: 290px;
    background-color: #f5f0dd;
}

/* _________________________________________________ BLOCK TEAM _________________________________________________ */
.team {
    padding-top: 75px;
    margin-bottom: 110px;
}

.team .team__title {
    margin-bottom: 45px;
    color: #585858;
    font-size: 42px;
    font-weight: 700;
    text-transform: uppercase;
}

.team .team-title__description {
    max-width: 450px;
    margin-bottom: 35px;
}

.team .red-line__small {
    display: inline-block;
    width: 130px;
    height: 2px;
    background-color: #ff2d2d;
}

.team .team-content__wrapper {
    display: flex;
    width: 100%;
}

.team .element__main {
    width: 30%;
    max-height: 100%;
    background-color: #f5f0dd;
}

.team .team__wrapper {
    width: 70%;
    padding-left: 75px;
}

.team .social-media {
    display: flex;
}

.team .social-media li {
    padding-right: 30px;
    color: #585858;
    font-size: 18px;
    font-style: italic;
}

.team .social-media a {
    color: #000;
}

.team .social-media li:last-child {
    padding-right: 0;
}

.team .social-media__wrapper {
    margin-bottom: 65px;
}

.team .team-members__title {
    margin-bottom: 40px;
    color: #585858;
    font-size: 30px;
    font-weight: 600;
    text-transform: uppercase;
}

.team .team-members-title__description {
    max-width: 630px;
    margin-bottom: 40px;
}

.team .team-members__wrapper {
    display: flex;
    column-gap: 20px;
}

.team .team-member {
    width: calc(100% / 4 - 20px * 3 / 4);
    height: 200px;
    background-color: #f5f0dd;
}

.team .team-member .popup {
    display: none;
}

.team .team-member:hover .popup {
    display: block;
    height: 30px;
    margin-top: 170px;
    background-color: #7a786e;
    color: #fff;
    cursor: pointer;
    font-size: 18px;
    font-weight: 600;
    text-align: center;
    text-transform: uppercase;
}

/* _________________________________________________ BLOCK SUBSCRIBE _________________________________________________ */
.subscribe {
    background-color: #f5f0dd;
}

.subscribe .subscribe__title {
    padding-top: 140px;
    margin-bottom: 40px;
    color: #fff;
    font-size: 42px;
    font-weight: 700;
    letter-spacing: 2px;
    line-height: 24px;
    text-align: center;
}

.subscribe .subscribe-title__description {
    margin-bottom: 60px;
    color: #fff;
    font-weight: 400;
    text-align: center;
}

.subscribe .subscribe-form {
    padding-bottom: 140px;
    text-align: center;
}

.subscribe .subscribe-form__input {
    width: 516px;
    height: 76px;
    padding: 40px;
    border: 2px solid #fff;
    margin-right: 20px;
    background-color: #fff;
    border-radius: 5px;
    outline: none;
}

.subscribe .subscribe-form__label {
    height: 76px;
    padding: 28px 58px;
    border: 2px solid #ff2d2d;
    background-color: #ff2d2d;
    border-radius: 5px;
    color: #fff;
    cursor: pointer;
    font-size: 18px;
    font-weight: 700;
    outline: none;
}

.subscribe .subscribe-form__label:hover {
    border: 2px solid #ff2d2d;
    background-color: #fff;
    color: #ff2d2d;
    transition: 0.4s;
}

/* _________________________________________________ BLOCK CONTACT-TITLE _________________________________________________ */
.contact-title {
    padding-top: 110px;
}

.contact-title .contact-title__title {
    margin-bottom: 45px;
    color: #585858;
    font-size: 42px;
    font-weight: 700;
    text-transform: uppercase;
}

.contact-title .contact-title__description {
    max-width: 730px;
    margin-bottom: 55px;
}

.contact-title .red-line__small {
    display: inline-block;
    width: 130px;
    height: 2px;
    margin-bottom: 75px;
    background-color: #ff2d2d;
}

/* _________________________________________________ BLOCK CONTACT-FORM _________________________________________________ */
.contact-form {
    margin-bottom: 110px;
    overflow-x: hidden;
}

.contact-form .row {
    position: relative;
    display: flex;
    height: 100%;
    flex-wrap: wrap;
}

.contact-form .contact__form {
    width: 60%;
}

.contact-form .contact-input__wrapper {
    display: flex;
    width: 100%;
    max-width: 730px;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 50px;
}

.contact-form .contact__label {
    display: none;
}

.contact-form .contact__input {
    width: calc(50% - 25px);
    padding: 25px 50px;
    border: 2px solid #e5e5e5;
    background-color: #e5e5e5;
    border-radius: 10px;
}

.contact-form .contact__textarea {
    width: 730px;
    height: 250px;
    padding: 25px 50px;
    border: 2px solid #e5e5e5;
    margin-bottom: 50px;
    background-color: #e5e5e5;
    border-radius: 10px;
    resize: none;
}

.contact-form .contact__button {
    width: 730px;
    padding: 25px 50px;
    border: 2px solid #ff2d2d;
    background-color: #ff2d2d;
    border-radius: 10px;
    color: #fff;
    font-size: 18px;
    font-weight: 700;
    text-transform: uppercase;
}

.contact-form .contact__button:hover {
    border: 2px solid #ff2d2d;
    background-color: #fff;
    color: #ff2d2d;
    transition: 0.4s;
}

.contact-form .contact__info {
    width: 40%;
    background-color: #2d2d2d;
}

.contact-form .contact-info__title {
    padding-top: 140px;
    padding-left: 75px;
    margin-bottom: 40px;
    color: #fff;
    font-weight: 700;
    text-transform: uppercase;
}

.contact-form .contact__info p {
    padding-left: 75px;
    margin-bottom: 20px;
    color: #fff;
    font-weight: 400;
}

.contact-form .row::after {
    position: absolute;
    left: 100%;
    display: block;
    width: 100vw;
    height: 100%;
    background-color: #2d2d2d;
    content: '';
}

/* _________________________________________________ BLOCK FOOTER _________________________________________________ */
.footer {
    background-color: #313030;
}

.footer .row {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
}

.footer .copyright__text {
    color: #fff;
    font-weight: 600;
}

.footer .menu {
    display: flex;
    padding: 50px 100px;
    column-gap: 20px;
}
/* _______________________ MEDIA-BREAKPOINT-1280px _______________________ */
@media (max-width: 1280px) {
    .container {
        max-width: 1024px;
    }

    .about {
        padding: 50px 0;
    }

    .about .row {
        display: block;
    }

    .about .col {
        width: 100%;
    }

    .about .about__info {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    .about .about__title {
        margin-bottom: 20px;
        font-size: 50px;
        text-align: center;
    }

    .about .about__description {
        max-width: 100%;
        margin-bottom: 20px;
        text-align: center;
    }

    .about .about__button {
        width: 50%;
        margin-bottom: 50px;
        text-align: center;
    }

    .services .services__title,
    .gallery .gallery__title,
    .team .team__title,
    .contact-title .contact-title__title {
        font-size: 38px;
    }

    .services {
        padding-top: 40px;
    }

    .services .row {
        display: block;
        padding-bottom: 30px;
    }

    .services .col {
        width: 100%;
        text-align: center;
    }

    .services .services__title {
        margin-bottom: 20px;
    }

    .services .services__description {
        max-width: 100%;
        margin-bottom: 20px;
    }

    .services .services__button {
        width: 50%;
        margin-bottom: 50px;
        text-align: center;
    }

    .services .services__elements {
        text-align: start;
    }

    .services .services__element {
        padding-bottom: 30px;
    }

    .gallery {
        padding-top: 50px;
        margin-bottom: 25px;
    }

    .red-line__small {
        margin: 0 auto 30px;
    }

    .gallery .gallery__menu-wrapper {
        margin-bottom: 30px;
    }

    .team {
        padding-top: 25px;
        margin-bottom: 50px;
    }

    .team .team__title {
        margin-bottom: 10px;
    }

    .team .team-members__title {
        margin-bottom: 10px;
    }

    .team .social-media__wrapper {
        margin-bottom: 40px;
    }

    .subscribe .container {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    .subscribe .subscribe__title {
        max-width: 800px;
        padding-top: 50px;
        margin-bottom: 20px;
        line-height: 54px;
        text-align: center;
    }

    .subscribe .subscribe-title__description {
        margin-bottom: 30px;
    }

    .subscribe .subscribe-form {
        padding-bottom: 50px;
    }

    .contact-title {
        padding-top: 50px;
    }

    .contact-title .contact-title__title {
        margin-bottom: 20px;
    }

    .contact-title .contact-title__description {
        max-width: 100%;
        margin-bottom: 20px;
    }

    .contact-title .red-line__small {
        margin-bottom: 25px;
    }

    .contact-form .contact__form,
    .contact-form .contact__info {
        width: 50%;
    }

    .contact-form .contact-input__wrapper,
    .contact-form .contact__textarea,
    .contact-form .contact__button {
        width: 480px;
    }

    .contact-form {
        margin-bottom: 50px;
    }
}
/* _______________________ MEDIA-BREAKPOINT-1024px _______________________ */
@media (max-width: 1024px) {
    .container {
        max-width: 768px;
    }

    .services .services__info {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    .services .services__title {
        max-width: 500px;
    }

    .gallery .gallery__menu {
        flex-direction: column;
        text-align: center;
    }

    .gallery .gallery__menu a {
        padding: 0 10px;
        margin-bottom: 25px;
    }

    .gallery .gallery__item {
        width: calc(100% / 2 - 20px * 1 / 2);
    }

    .team .team__wrapper {
        padding-left: 20px;
    }

    .team .social-media li {
        padding-right: 60px;
        font-weight: 600;
    }

    .subscribe .subscribe-form {
        display: block;
    }

    .subscribe .subscribe-form__input {
        width: 100%;
        margin-bottom: 60px;
    }

    .subscribe .subscribe-form__label {
        padding: 28px 320px;
    }

    .contact-form .row {
        display: block;
    }

    .contact-form .contact__form {
        width: 100%;
    }

    .contact-form .contact__info {
        width: 100%;
    }

    .contact-form .contact-input__wrapper,
    .contact-form .contact__textarea,
    .contact-form .contact__button {
        width: 100%;
    }

    .contact-form .contact__button {
        margin-bottom: 50px;
    }

    .contact-form .row::after {
        display: none;
    }

    .contact-form .contact-info__title {
        padding-top: 50px;
    }

    .contact-form .contact__info:last-child {
        padding-bottom: 20px;
    }

    .footer .copyright__text {
        font-size: 16px;
    }

    .footer .menu {
        padding: 15px;
        column-gap: 15px;
    }
}
/* _______________________ MEDIA-BREAKPOINT-768px _______________________ */
@media (max-width: 768px) {
    .container {
        max-width: 576px;
    }

    body {
        font-size: 18px;
    }

    header {
        display: none;
    }

    .about {
        padding: 30px 0;
    }

    .about .about__button,
    .services .services__button {
        width: 100%;
    }

    .services .services__title {
        margin-bottom: 0;
    }

    .services .services__element {
        width: 100%;
    }

    .services .icon {
        width: auto;
        height: auto;
        margin: 0 auto 15px;
    }

    .services .element__title {
        margin-bottom: 10px;
        text-align: center;
    }

    .gallery {
        padding-top: 30px;
        margin-bottom: 30px;
    }

    .gallery .gallery__title {
        margin-bottom: 10px;
    }

    .gallery .gallery__menu-wrapper {
        margin-bottom: 15px;
    }

    .gallery .gallery__menu a {
        font-size: 26px;
    }

    .team {
        padding-top: 0;
        margin-bottom: 20px;
    }
    .team .team-title__wrapper {
        text-align: center;
    }

    .team .team-title__description {
        max-width: 100%;
    }

    .team .team__wrapper {
        width: 100%;
        padding-left: 0;
        text-align: center;
    }

    .team .team-content__wrapper {
        flex-direction: column;
    }

    .team .element__main {
        width: 100%;
        height: 250px;
        margin-bottom: 30px;
    }

    .team .social-media__wrapper {
        margin-bottom: 0;
    }

    .team .social-media {
        flex-direction: column;
        align-items: center;
    }

    .team .social-media li {
        padding: 0;
        margin-bottom: 30px;
        font-size: 26px;
        font-weight: 600;
    }

    .team .team-members__wrapper {
        display: flex;
        flex-direction: column;
        row-gap: 20px;
    }

    .team .team-member {
        width: 100%;
        height: 200px;
    }

    .subscribe .subscribe-form__label {
        padding: 28px 95px;
    }

    .subscribe .subscribe-form__label {
        padding: 28px 222px;
    }

    .contact-title {
        padding-top: 30px;
    }

    .contact-title .contact-title__wrapper {
        text-align: center;
    }

    .contact-form .contact-input__wrapper {
        margin-bottom: 0;
    }

    .contact-form .contact__input {
        width: 100%;
        margin-bottom: 30px;
    }

    .contact-form .contact__textarea {
        margin-bottom: 25px;
    }

    .contact-form .contact__button {
        margin-bottom: 30px;
    }

    .footer .copyright__text {
        font-size: 14px;
    }
}

/* _______________________ MEDIA-BREAKPOINT-768px _______________________ */
@media (max-width: 576px) {
    .container {
        max-width: 320px;
    }

    .about .about__title {
        margin-bottom: 15px;
        font-size: 36px;
        letter-spacing: 2px;
        line-height: 42px;
        word-spacing: 2px;
    }

    .about .about__button,
    .services .services__button {
        margin: 0 0 30px;
    }

    .services .services__title,
    .gallery .gallery__title,
    .team .team__title,
    .contact-title .contact-title__title {
        font-size: 32px;
        line-height: 38px;
    }

    .services {
        padding-top: 20px;
    }

    .gallery .gallery__item {
        width: 100%;
    }

    .subscribe .subscribe__title {
        padding-top: 30px;
    }

    .subscribe .subscribe-form__label {
        padding: 28px 95px;
    }
    
    .contact-form {
        margin-bottom: 30px;
    }

    .contact-form .contact-info__title {
        padding: 30px 30px 0;
        margin-bottom: 20px;
    }

    .contact-form .contact__info p {
        padding-left: 30px;
    }

    .footer .row {
        display: block;
    }

    .footer .copyright__text {
        padding-top: 20px;
        font-size: 12px;
        text-align: center;
    }

    .footer .menu {
        justify-content: center;
        column-gap: 25px;
    }
}